<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>
        Rentings of Vehicle (<span th:text="${vehicle.type}">Car</span>): <span th:text="${vehicle.plate}">01</span>
    </h2>
    <a class="btn btn-default pull-right" th:href="@{/rentacars/rentacar/{number}/vehicles(number=${rentacar.code})}">Vehicles</a>
    <br/>
    <h3>Create Renting</h3>
    <p class="text-danger" th:text="${error}">Error</p>
    <form class="form-inline" th:action="@{/rentacars/rentacar/{code}/vehicles/vehicle/{plate}/rentings(code=${rentacar.code},plate=${vehicle.plate})}" th:object="${renting}" method="post">
        <label>Driving License: </label> <input class="form-control input-sm" type="text" th:field="*{drivingLicense}" />
        <label>NIF: </label> <input class="form-control input-sm" type="text" size="9" th:field="*{buyerNIF}" />
        <label>IBAN: </label> <input class="form-control input-sm" type="text" size="20" th:field="*{buyerIBAN}" />
        <label>begin: </label> <input class="form-control input-sm" type="date" th:field="*{begin}" />
        <label>end: </label> <input class="form-control input-sm" type="date" th:field="*{end}" />
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <br/>


    <br/>
    <h3>List of Rentings</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Reference</th>
            <th>Plate</th>
            <th>Driving License</th>
            <th>Rent-A-Car</th>
            <th>begin</th>
            <th>end</th>
            <th>Payment Reference</th>
            <th>Invoice Reference</th>
            <th>Cancellation Reference</th>
            <th>Price</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="renting : ${rentings}">
            <td th:text="${renting.reference}">XPTO</td>
            <td th:text="${renting.plate}">XPTO</td>
            <td th:text="${renting.drivingLicense}">XPTO</td>
            <td th:text="${renting.rentACarCode}">XPTO</td>
            <td th:text="${renting.begin}">XPTO</td>
            <td th:text="${renting.end}">XPTO</td>
            <td th:text="${renting.paymentReference}">XPTO</td>
            <td th:text="${renting.invoiceReference}">XPTO</td>
            <td th:text="${renting.cancellationReference}">XPTO</td>
            <td th:text="${renting.price}">XPTO</td>
            <td>
                <a th:href="@{/rentacars/rentacar/{code}/vehicles/vehicle/{plate}/rentings/{reference}(code=${rentacar.code},plate=${vehicle.plate},reference=${renting.reference})}">
                    <span th:text="${rentacar.numVehicles}">Vehicles</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>