<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2>
        Vehicles of Rent-A-Car <span th:text="${rentacar.name}">Rent-A-Car</span>
    </h2>
    <a class="btn btn-default pull-right" th:href="@{/rentacars}">Rent-A-Cars</a>
    <br/>
    <h3>Create Vehicle</h3>
    <p class="text-danger" th:text="${error}">Error</p>
    <form class="form-inline" th:action="@{/rentacars/rentacar/{code}/vehicles/vehicle(code=${rentacar.code})}" th:object="${vehicle}" method="post">
        <label>Plate: </label> <input class="form-control" type="text" th:field="*{plate}" />
        <label>Kilometers: </label> <input class="form-control" type="number" step="0.01" th:field="*{kilometers}" />
        <label>Price: </label> <input class="form-control" type="number" step="0.01" min="0.01" th:field="*{price}" />
        <label>Type: </label>
        <select class="form-control" th:field="*{type}" >
            <option th:each="type : ${T(pt.ulisboa.tecnico.softeng.car.domain.Vehicle.Type).values()}" th:value="${type}" th:text="${type}">
            </option>
        </select>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <br/>

    <br/>
    <h3>Vehicles</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Plate</th>
            <th>Kilometers</th>
            <th>Price</th>
            <th>Rentings</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle: ${vehicles}">
            <td th:text="${vehicle.type}">Type</td>
            <td th:text="${vehicle.plate}">12-45-QX</td>
            <td th:text="${vehicle.kilometers}">120</td>
            <td th:text="${vehicle.price}">120</td>
            <td><a
                    th:href="@{/rentacars/rentacar/{code}/vehicles/vehicle/{plate}/rentings(code=${rentacar.code},plate=${vehicle.plate})}">Rentings</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>