# See gitattributes(5)
*.java         text
*.xml          text
*.md           text
*.dml          text
*.properties   text
*.html                  text
*.properties.example    text
.gitignore              text
.gitattributes          text
/bin/*                  text
