<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Activities</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Activities of Provider <span th:text="${provider.name}">eXtreme</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/providers}">Providers</a>
		<br/>
		<h3>Create Activity</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/providers/{code}/activities(code=${provider.code})}" th:object="${activity}" method="post">
	 		<label>Name: </label> <input class="form-control input-sm" type="text" th:field="*{name}" /> 
	 		<label>Min Age: </label> <input class="form-control input-sm" type="number" min="0" max="120" th:field="*{minAge}" /> 
	 		<label>Max Age: </label> <input class="form-control input-sm" type="number" min="0" max="120" th:field="*{maxAge}" /> 
	 		<label>Capacity: </label> <input class="form-control input-sm" type="number" min="0" max="10000" th:field="*{capacity}" /> 
			<input class="btn btn-primary btn-sm" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>Offers</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
 					<th>Min Age</th>
 					<th>Max Age</th>
 					<th>Capacity</th>
 					<th>Offers</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="activity: ${provider.activities}">
					<td th:text="${activity.name}">John Snow</td>
 					<td th:text="${activity.minAge}">18</td>
 					<td th:text="${activity.maxAge}">45</td>
 					<td th:text="${activity.capacity}">25</td>
				 	<td><a
						th:href="@{/providers/{codeProvider}/activities/{codeActivity}/offers(codeProvider=${provider.code},codeActivity=${activity.code})}">Offers</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>