<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Item Types</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to the Invoices Manager of <span th:text="${payer.type}">Seller</span>
			<span th:text="${payer.name}">João</span> with NIF <span
				th:text="${payer.nif}">12246765</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/tax/payers}">Tax
			Payers</a> <br />
		<h3>Create Invoice</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline"
			th:action="@{/tax/payers/{nif}/invoices(nif=${payer.nif})}"
			th:object="${invoice}" method="post">
			<span th:switch="${payer.type}"> <span
				th:case="${T(pt.ulisboa.tecnico.softeng.tax.services.local.dataobjects.TaxPayerData.Type).BUYER}">
					<label>Seller NIF: </label> <input class="form-control input-sm"
					type="text" size="9" th:field="*{sellerNif}" />
			</span> <span th:case="*"> <label>Buyer NIF: </label> <input
					class="form-control input-sm" type="text" size="9"
					th:field="*{buyerNif}" />
			</span>
			</span> <label>Item Type: </label> <input class="form-control input-sm"
				type="text" th:field="*{itemType}" /> <label>Value: </label> <input
				class="form-control input-sm" type="number" step="0.01"
				th:field="*{value}" /> <label>Date: </label> <input
				class="form-control input-sm" type="date" th:field="*{date}" /> <input
				class="btn btn-primary btn-sm" type="submit" value="Submit" />
		</form>
		<br />
		<h3>List of Invoices</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Seller NIF</th>
					<th>Buyer NIF</th>
					<th>Item Type</th>
					<th>Value</th>
					<th>Date</th>
					<th>Iva</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoice: ${invoices}">
					<td th:text="${invoice.sellerNif}">123456789</td>
					<td th:text="${invoice.buyerNif}">987654321</td>
					<td th:text="${invoice.itemType}">Fruta</td>
					<td th:text="${invoice.value}">23.98</td>
					<td th:text="${invoice.date}">12/12/2018</td>
					<td th:text="${invoice.iva}">4.33</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>