<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Item Types</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to the Item Types Manager
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/}">Tax</a>
		<br/>
		<h3>Create Item Type</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/tax/items}" th:object="${item}" method="post">
			<label>Name: </label> <input class="form-control input-sm" type="text" th:field="*{name}" /> 
			<label>Tax: </label> <input class="form-control input-sm" type="number" size="3" min="0" max="100" th:field="*{tax}" /> 
			<input class="btn btn-primary btn-sm" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Item Types</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Tax</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${items}">
					<td th:text="${item.name}">Fruta</td>
					<td th:text="${item.tax}">23</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>